/************* generic*******************/

.no-padding {
    padding: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

/*********** end of generic**************/

/*********** question content**************/

.register-memory-container {
    font-size: 13px;
}

.register-memory-container .col-lg-2 {
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #a9bcb2;
    border: 3px solid #ffffff;
}

.register-memory-container label{
    margin-bottom: 0;
    margin-top: 10px;
}

.register-memory-container  .form-control {
    height: 25px;
}

.register-table {
    background-color: #d5dcd9;
    color: #000000;
    font-size: 11px;
}

.register-table>tbody>tr>td:not(:first-child){
    border-left: 1px solid #b9b8b8;
}

.register-table>tbody>tr>td {
    border-top: 1px solid #b9b8b8;
}


.register-table .register-number-cell {
    width: 20px;
}

.register-table .register-value-cell {
    width: 50px;
}

.register-table caption {
    background-color: #d5dcd9;
    padding-left: 20px;
    font-weight: bold;
}

.register-table-title {
    margin-right: 20px;
}

.electran-submit-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #212b26;
    border-color: #6d8a7b;
}
.electran-submit-btn:hover {
    background-color: #6d8a7b;
    border-color: #6d8a7b;
}

.electran-submit-btn:active  {
    background-color: #6d8a7b !important;
    border-color: #6d8a7b !important;
    transform: translate(2px,2px);
}
/*********** end of question content**************/
.qus-cat-checkbox {
    margin: 0;
}

.top-navigation-container {
  width: 90%;
}

#top-nav-logout {
  float: right;
}

.semester-question-sub-list {
  margin-top: 10px;
  margin-bottom: 20px;
  list-style-type: none;
}

.sem-qus-semester-list-container {
  margin-bottom: 20px;
}
.qus-sem-date-container {
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
}

.question-date-label{
  display: inline-block;
  float: left;
  padding: 5px;
}

.question-date-input {
  width: 20%;
  float: left;
}

.question-visible-label {
  padding: 5px;
}

.qus-sem-question-title {
  margin-bottom: 10px;
}

/*********** Reset Password *********/
.electran-login-panel .electran-info-h4 {
    font-size: 16px;
    margin-top: 10px;
}

/*********** Login *********/

#loginFullPage {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background: url("../images/formula.jpg") no-repeat center center fixed;
    background-size: cover;
}

.electran-login-panel {
    margin-top: 60px;
}

.electran-login-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px !important;
    text-transform: uppercase;
}

.electran-login-btn{
    margin-bottom: 12px;
}

/*********** Messages *********/

.electran-messages-list {
    padding-left: 0;
}
.electran-messages-list li {
    list-style-type: none;
}

/*********** Menu *********/
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  top: 51px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 15px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}
}
