{% extends "custom_base.html" %}

{% block content %}
<div class="jumbotron home-container">
  <h3 class="text-center">Electran Assessment System</h3>
{% if semester %}
  <h5 class="text-center">Semester {{ semester.sem_year }}-{{ semester.sem_month }}</h5>
{% if has_multiple_modules %}
    <form method="post" id="semesterModuleForm" class="col-md-4 ">
      {% csrf_token %}
        <div class="qus-sem-question-title">
            <label for="semester_module">Select module</label>
            <select  class="form-control" id="semesterModule" name="semester_module">
                    <option value="0">select</option>
                {% for semester_item in semester_list %}
                    <option value="{{ semester_item.id }}" {% if semester_item.id == semester.id %}{% if que_cat %}selected{% endif %}{% endif %}>{{ semester_item.sem_module }}</option>
                {% endfor %}
            </select>
            <span id="semesterModuleError" style="display: none" class="validation-error">Module must be selected</span>
        <br>
            <input type="submit" class="btn btn-primary electran-submit-btn" value="submit">


        </div>
    </form>
{% endif %}

{% if que_cat %}
    <div class="col-md-12">
          <h5 class="text-center">Module {{ semester.sem_module }}</h5>
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary electran-submit-btn home-expand-btn" type="button" id="catCollapseAll">
             Expand All
        </button>
    </div>
  <div class="col-md-12 panel-group" id="accordion">

    {% for item in que_cat %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse{{forloop.counter}}" aria-expanded="false">
              {{forloop.counter}}- {{item.cat.cat_title}}
            </a>
          </h4>
        </div>
        <div id="collapse{{forloop.counter}}" class="panel-collapse collapse in">
          <div class="panel-body">
            <table class="home-questions-table">
                <thead>
                    <tr>
                        <th class="home-table-title">Title</th>
                        <th class="home-table-mark">Mark</th>
                        <th class="home-table-deadline">Deadline</th>

                    </tr>
                </thead>
                <tbody>
                    {% for question in item.qus %}
                    <tr class="home-question-item">
                        <td><a href="{% url 'questions:all_questions' slug=question.slug %}">{{forloop.counter}}- {{question.question_title}}</a></td>
                        <td>
                        {% if question.max_mark is not null %}
                            <span class="home-mark">{{ question.max_mark }}/{{ question.mark_max_value }}</span>
                        {% else %}
                            <span class="home-mark-no">-</span>
                        {% endif %}
                        </td>
                        <td><span class="home-deadline">{{ question.question_deadline|date:"D d M Y H:i"}}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endfor %}


  </div>
{% endif %}
{% else %}
    <h5 class="text-center">Not registered in any active semester</h5>
{% endif %}
</div>



{% endblock content %}
