{% extends "custom_base.html" %}

{% block content %}
<div class="jumbotron home-container">
  <h3 class="text-center">Electran Assessment System</h3>
  <h5 class="text-center">Semester {{ semester }}</h5>
  <div class="panel-group" id="accordion">
    {% if que_cat %}
    {% for item in que_cat %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
              {{item.cat.cat_title}}
            </a>
          </h4>
        </div>
        <div id="collapse{{forloop.counter}}" class="panel-collapse collapse in">
          <div class="panel-body">
            <table class="home-questions-table">
                <thead>
                    <tr>
                        <th class="home-table-title">Title</th>
                        <th class="home-table-mark">Mark</th>
                        <th class="home-table-deadline">Deadline</th>

                    </tr>
                </thead>
                <tbody>
                    {% for question in item.qus %}
                    <tr class="home-question-item">
                        <td><a href="{% url 'questions:all_questions' slug=question.question.slug %}">{{question.question.question_title}}</a></td>
                        <td>
                        {% if question.max_mark is not null %}
                            <span class="home-mark">{{ question.max_mark }}/{{ question.question.mark_max_value }}</span>
                        {% else %}
                            <span class="home-mark-no">-</span>
                        {% endif %}
                        </td>
                        <td><span class="home-deadline">{{ question.question_deadline|date:"D d M Y H:i"}}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}

  </div>
</div>



{% endblock content %}
