{% extends "custom_base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="">
      <a href="{% url 'management:semester_create' %}">Add new semester</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Semester</th>
          <th>Questions</th>
          <th>Is Active</th>
          <th>Manage Students</th>
          <th>Manage Questions</th>
        </tr>
      </thead>
      <tbody>
        {% for semester in semesters %}
          <tr>
            <td>{{semester}}</td>
            <td>{{semester.questions.all.count}}</td>
            <td>{{semester.sem_is_active}}</td>
            <td>{{semester.sem_is_active}}</td>
            <td><a href="/management/{{semester.id}}">click me</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
