{% extends "custom_base.html" %}

{% block content %}
<div class="">
  <a href="{% url 'management:semester_list' %}">Back to semester list</a>
  <form class="" method="post" id="qus_sem_form">
  {% csrf_token %}
  <div class="row">
    <div class="">
      <div class="col-md-5 col-md-offset-4 sem-qus-semester-list-container">
        <h3>Semester: <span>{{semester}}</span></h3>
      </div>
    </div>
  </div>
  <div class="row">
      <div>
        <label class="checkbox-inline">Check All</label>
        <input type="checkbox" name="check-all-questions" id="checkAllQuestions">
        <button class="btn btn-primary electran-submit-btn cat-date-btn" type="button" id="catCollapseAll">
             Expand All
        </button>
      </div>

  </div>
  <div class="row">
    <div class="panel-group" id="accordion">
      {% if que_cat %}
      {% for item in que_cat %}
        <div class="panel panel-default" id="divCat{{ forloop.counter }}">
          <div class="panel-heading">
            <h4 class="panel-title pull-left">
              <input class="catCheckAll" value="{{forloop.counter}}" type="checkbox" id="chkCatCheckAll{{forloop.counter}}">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}" class="cat-title-link">
                {{item.cat.cat_title}}
              </a>
              <div class="input-group date category-date-input" id="date_category_container_{{ forloop.counter }}">
                  <input type="text" class="form-control catDateAll" value=""  id="category_date_{{forloop.counter}}" readonly>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </span>
              </div>
              <button class="btn btn-primary electran-submit-btn cat-date-btn" id="category_date_btn_{{ forloop.counter }}" data-category-btn="{{ forloop.counter }}">
                  Apply to all
              </button>
            </h4>
            <div class="clearfix"></div>
          </div>
          <div id="collapse{{forloop.counter}}" class="panel-collapse collapse in">
            <div class="panel-body">
              <ol>
                {% for question in item.qus %}
                  <li class="semester-question-sub-list" id="liQuestion{{ question.id }}">
                    <div class="qus-sem-question-title">
                      <input {{question.checked}} data-catid="{{forloop.parentloop.counter}}"
                             type="checkbox" value="{{question.id}}" name="chk_question" id="qusTitle{{ question.id }}"
                             {{ question.disable }}>
                      <label class="checkbox-inline" for="qusTitle{{ question.id }}">{{question.question_title}}</label>

                    </div>
                    <div id="divQuestionDetail{{ question.id }}"
                            data-catid-detail="{{forloop.parentloop.counter}}"
                            {% if not question.checked %} style="display:none" {% endif %}>
                        <div class="question-date-label"><label class="" for="date_question_{{question.id}}">Deadline: </label></div>
                        <div class="input-group date question-date-input" id="date_question_container_{{ question.id }}">

                            <input type="text" class="form-control" value="{{question.deadline|date:"Y-m-d H:i"}}"
                                   name="date_question_{{question.id}}" id="date_question_{{question.id}}"
                                   data-cat-id-date="{{forloop.parentloop.counter}}" readonly>

                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </div>

                        <div class="qus-sem-date-container">
                          <label class="question-visible-label" for="visible_question{{question.id}}">Visible</label>
                          <input type="checkbox" name="visible_question_{{question.id}}" value="True"
                                 {{ question.visible }} id="visible_question{{question.id}}">
                        </div>
                    </div>

                  </li>
                {% endfor %}
              </ol>
            </div>
          </div>
        </div>
      {% endfor %}
      {% endif %}

    </div>
  </div>
  <input type="submit" class="btn btn-primary electran-submit-btn" value="submit">
  </form>
</div>



{% endblock content %}
