{% extends "custom_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="">
        <div class="col-md-8 col-md-offset-4 sem-qus-semester-list-container">
            <h3>Semester: <span>{{semester}}</span></h3>
        </div>
        <div id="exTab1" class="col-sm-12">
            <ul  class="nav nav-pills">
                <li class="active">
                    <a  href="#1a" data-toggle="tab">Upload Excel</a>
                </li>
                <li>
                    <a href="#2a" data-toggle="tab">Add user individually</a>
                </li>
            </ul>
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">
                    <form method="POST" enctype="multipart/form-data" class="col-md-12 user-upload-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="hidden" value="upload" name="hidden_type">
                        <input type="submit" class="btn btn-primary electran-submit-btn" value="submit" name="submit">
                    </form>
                </div>
                <div class="tab-pane" id="2a">

                    <form method="POST" enctype="multipart/form-data" class="form-horizontal col-md-4 user-register-form" id="oneUserForm">
                        {% csrf_token %}
                        {% crispy user_form %}
                        <input type="hidden" value="one_user" name="hidden_type">
                        <div class="form-group" style="margin-bottom: 0">
                            <input type="submit" class="btn btn-primary electran-submit-btn" style="margin-top: 0" value="submit" name="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" value="email" name="hidden_type">
            <div class="col-md-12 semester-user-table-container">
                <table class="table table-striped semester-user-table electran-table">
                    <caption><span class="register-table-title">List of Users in semester {{ semester }}</span></caption>
                    <thead>
                        <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Student Number</th>
                        <th>Is Registered</th>
                        <th>Edit user</th>
                        <th>Edit user semester</th>
                        <th>Send email</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                        <td>{{user.user.first_name}}</td>
                        <td>{{user.user.last_name}}</td>
                        <td>{{user.user.username}}</td>
                        <td>{{user.user.email}}</td>
                        {% if user.user.student_no %}
                            <td>{{user.user.student_no}}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        {% if user.is_registered_for_semester %}
                            <td>Yes</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}

                        <td><a target="_blank" href="/admin/custom_accounts/myuser/{{user.user.id}}/change/">Edit</a></td>
                        <td><a target="_blank" href="/admin/management/usersemester/{{user.id}}/change/">Edit</a></td>
                        <td>
                            <input class="catCheckAll" value="{{user.user_id}}" type="checkbox"
                                   id="chkCatCheckAll{{user.user_id}}" name="email_students">
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <input type="submit" class="btn btn-primary electran-submit-btn email_btn" value="Email Students" name="submit">
            </div>
        </form>
    </div>

{% endblock %}