{% extends "custom_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="col-md-10">
        {% if is_form %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Fixed length/Unsigned Hex Subtraction</h2>
                <p>Calculate the result of the following subtraction using complement for the second value in the specified base. Be aware
                    that the maximum number of bits is limited to
                    {% if random_value.base is 2 %}
                        8 bits
                    {% else %}
                        32 bits
                    {% endif %} and since the subtraction is for unsigned values, no overflow detection occurs:</p>
                <h3>{{ random_value.random1 }} (In base {{ random_value.base }})</h3>
                <div class="col-md-4 no-padding">
                    <div class="form-group">
                        <label for="answer1">Answer:</label>
                        <input type="text" class="form-control" id="answer1" name="answer1">
                    </div>
                    <input type="submit" class="btn btn-primary" value="submit" name="submit">
                </div>
            </form>
        {% else %}
            <h2>Fixed length/Unsigned Hex Subtraction</h2>
            <p>Calculate the result of the following subtraction using complement for the second value in the specified base. Be aware
                    that the maximum number of bits is limited to
                    {% if random_value.base is 2 %}
                        8 bits
                    {% else %}
                        32 bits
                    {% endif %} and since the subtraction is for unsigned values, no overflow detection occurs:</p>
            <h3>{{ random_value.random1 }} (In base {{ random_value.base }})</h3>
            <div class="col-md-6 no-padding">
                <p>Your answer was: {{ answer.answer1 }}</p>
                {% if not result %}
                    <p>But the correct answer was: {{ correct_answer.value }}</p>
                    {% if correct_answer.overflow %}
                        <span>with overflow</span>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}