{% extends "custom_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="col-md-10">
    {% if is_form %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Hex to Binary Conversion</h2>
            <p>Convert the following hexadecimal string into binary:</p>
                <h3>{{ random_value.random1 }}</h3>
            <div class="col-md-4 no-padding">
                <div class="form-group">
                    <label for="answer">Answer:</label>
                    <input type="text" class="form-control" id="answer" name="answer">
                </div>
                <input type="submit" class="btn btn-primary" value="submit" name="submit">
            </div>
        </form>
    {% else %}
        <h2>Hex to Binary Conversion</h2>
        <p>Convert the following hexadecimal string into binary:</p>
        <h3>{{ random_value.random1 }}</h3>
        <div class="col-md-6 no-padding">
            <div>
                <p>Your answer was:</p>
                <div>{{ answer }}</div>
                {% if not result %}
                    <p>But the correct answer was:</p>
                    <div>{{ correct_answer }}</div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    </div>

{% endblock %}