{% extends "custom_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="col-md-10">
        {% if is_form %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Instruction encoding I-Type</h2>
                <p>Convert the following MIPS instruction into its machine code in binary:</p>
                <h3>{{ random_value.instruction_type }} ${{ random_value.rt }} {{ random_value.offset }}(${{ random_value.rs }}) </h3>
                <div class="col-md-7 no-padding">
                    <div class="form-group">
                        <label for="answer">Answer:</label>
                        <input type="text" class="form-control" id="answer" name="answer">
                    </div>
                    <input type="submit" class="btn btn-primary" value="submit" name="submit">
                </div>
            </form>
        {% else %}
            <h2>Instruction encoding I-Type</h2>
            <p>Convert the following MIPS instruction into its machine code in binary:</p>
            <h3>{{ random_value.instruction_type }} ${{ random_value.rt }} {{ random_value.offset }}(${{ random_value.rs }}) </h3>
            <div class="col-md-10 no-padding">
                <p>Your answer was: {{ answer }}</p>
                {% if not result %}
                <p>But the correct answer was: {{ correct_answer }}</p>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}