<div>
    <h3>Help Page for Powers of 2 Conversion</h3>
    <p>These are further questions to make you more familiar with binary and hexadecimal.</p>


    <p>In this question 2^12 represents 2 to the power of 12. Thus the question:</p>

    <p>Convert the following powers of 2 and decimal numbers into hexadecimal:
        <strong>2^8</strong>
        <br>
        expects the answer
        <strong>100</strong>
    </p>
    <p>
        This answer is obtained like this:</p>

    <p>2 to the 8 (2^8 or 28) is <strong>1 0000 0000</strong>
        <br>
        which translates to the hexadecimal
        <strong>100</strong>
    </p>
    <p>Spaces can be put into your answer to make it easier to read.</p>


</div>